<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>lalaland</servlet-name>
		<servlet-class>lalaland</servlet-class>
	</servlet>
	
	<servlet-mapping>
        <servlet-name>lalaland</servlet-name>
        <url-pattern>/lala</url-pattern>
    </servlet-mapping>
    
</web-app>